/* Header */
.navbar{
    font-family: 'Bree Serif';
    width:100%;
    height: 14%;
}
/*.header-title{
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding: 10px;
    z-index: 3;
}*/
/*.fcl-image{
    height:12%;
    width:12%;
    z-index: 3;
    float:right;
    padding: 10px;
    cursor: pointer;
}
.frs-image{
    height:10%;
    width:10%;
    z-index: 3;
    float:right;
    padding: 10px;
    cursor: pointer;
}*/
.psi-image{
    height:20%;
    width:20%;
    z-index: 3;
    float:right;
    padding: 0px;
/*    cursor : pointer;*/
}
/* Changes made depends on the screen size */
@media(max-width: 1600px) {
  .fcl-image{
    height:20%;
    width:20%;
  }
  .frs-image{
    height:17%;
    width:17%;
  }
  .psi-image{
    height:12%;
    width:12%;
  }
}
/* Screen size of a mobile */
@media(max-width:500px) {
  .title{
    font-size: 12px !important;
  }
  .fcl-image{
    height:15%;
    width :15%;
  }
  .frs-image{
    height:15%;
    width :15%;
  }
  .psi-image{
    height:15%;
    width :15%;
  }
  .link-title{
    font-size: 12px !important;
  }
  .start{
    font-size: 12px !important;
  }
  #learn-more{
    font-size: 12px !important;
  }
  .link-to-application{
    background-size: 100% 100%;
  }
}

/* Shared class */
.row{
  border-bottom: 1px solid #B9CAD4;
  padding-top:1%;
  padding-bottom:1%;
  padding-left:10%;
  padding-right:10%;
}

.title-mv{
  font-weight: bold;
  font-size: 30px;
  font-family: 'Bree Serif';
  line-height: 32px;
}
.content{
	color: #000000;
	font-family: Lato;
	font-size: 16px;
	line-height: 16px;
    float: left;
}
.sub-title-mv{
	color: #22343C;
    font-family: 'Bree Serif';
	font-size: 25px;
	line-height: 25px;
}

.authors-mv{
    color: #22343C;
    font-family: 'Bree Serif';
    font-size: 20px;
    line-height: 25px;
}

.journal-mv{
    color: #22343C;
    font-family: 'aria';
    font-size: 20px;
    line-height: 25px;
    font-weight: bold;
}

/* Row 1 */
.row-1{
  padding: 0;
}
.link-title{
  font-weight: bold;
  font-size : 24px;
  font-family: 'Bree Serif';
}
.link-to-application{
    background-image: url("/image/screenshot.png");
    background-color: 'white';
    background-size: 100% auto;
    background-position: center;
    background-repeat: no-repeat;
    padding: 10%;
    margin-top : 9%;
}
.start{
	border-radius: 4px;
	background-color: #4C677C;
	box-shadow: 1px 2px 2px 0 rgba(0,0,0,0.2);
  font-size : 14px;
  font-weight: bold;
  font-family: lato;
  color: white;
}
.fa-chevron-circle-down {
	height: 18px;
	width: 19.59px;
	color: #4C677C;
	font-size: 18px;
	line-height: 18px;
	text-align: center;
}
#learn-more{
  font:  14px lato;
}
#learn-more:hover{
  text-decoration: none;/*下划线 */
/*  cursor: pointer;*/
}

/* Other rows */
.row-2{
  padding-top:5%;
  padding-bottom:5%;
}
.row-3{
	background-color: rgba(243,245,247,0.9);
}
.row-4{
  border-bottom: none;
}
.row-5{
  border-bottom: none;
}

/* Images */
.key-features{
	height: 100%;
	width: 100%;
	border: 1px solid #979797;
}
.city{
	height: 100%;
	width: 100%;
	border: 1px solid #979797;
}
