html, body {
    width: 100%;
    height: 100%;
    margin:0;
    padding:0;
    font-family: 'lato';
    font-size: 16px;
    font-weight: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-bottom:1px;
    background-color: #e6e6e6;
    cursor: default;
}
rect{
    stroke-width: 3;
}

tr{
    background-color:#f2f2f2;
    border-bottom: 5px solid #e6e6e6;
}
table{
    cellspacing:0;
    border-collapse: collapse;
}

.recommendBox {
    width: 100%;
    height: 155px;
    border-bottom: 1px dashed #bdbdbd;
    background-color: white;
}
.tooltip {
        background-color: #fff;
        border: 2px solid #ccc;
        border-radius: 8px;
        padding: 10px;
}



.menu {
    width: 14%;
    height: 100%;
    float: left;
    background-color: #e6e6e6;
    margin-right: 10px;
}

.border{
    width:0.5%;
    height: 100%;
    float: left;
    background: linear-gradient(to right, #e6e6e6, #cfcfcf);
    border-right: 1px solid #c5c5c5;
}

.display {
    width: 53%;
    height: 100%;
    float: left;
    background-color: #f2f2f2;
}
.svg{
     width: 100%;
    height: 94%;
    border: 1px solid #c5c5c5;

    background: -webkit-linear-gradient(top, transparent 19px,#f0f0f0 20px,transparent 20px,
                                             transparent 39px,#f0f0f0 40px,transparent 40px,
                                             transparent 59px,#f0f0f0 60px,transparent 60px,
                                             transparent 79px, #c5c5c5 80px),
                -webkit-linear-gradient(left, transparent 19px,#f0f0f0 20px,transparent 20px,
                                             transparent 39px,#f0f0f0 40px,transparent 40px,
                                             transparent 59px,#f0f0f0 60px,transparent 60px,
                    transparent 79px, #c5c5c5 80px);
    background-size:80px 80px;
     background-color: #ffffff;
}
.svg_outer{
    height: 87%;
    width: 86%;
    padding:5% 7% 0% 7%;
    
}

.svg_button {
    height: 6%;
    width: 100%;
    color: #e6e6e6;
    background-color: #e6e6e6;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.viewtype_choice {
    height: 6%;
    width: 100%;
    color: black;
    background-color: #e6e6e6;
    font-weight: bolder;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 200%;
}

.queryResult {
    width: 29.3%;
    height: 100%;
    float: left;
    background-color: #e6e6e6;

}
.displayQueryResult{
    width: 1.7%;
    height: 100%;
    float: left;
     background-color: #e6e6e6;

}
.recommendFilter{
    width: 100%;
    height: 4.5%;
    background-color: #f2f2f2;
    font-weight: bold;
    vertical-align: middle;
    padding-top: 2%;
    margin-top: -0.5%;
    text-align: center;
}

.recommendContent {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.viewType {
    text-align: center;
}

.circle_class {
    width: 30%;
}

.recommendTitle {
    width: 100%;
    height: 6%;
    background-color: #e6e6e6;
    color: black;
    font-weight: bolder;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid white;
    line-height: 200%;
}

.recommend {
    overflow-y: scroll;
    height: 95%;
    overflow-x: hidden;
}


.recommendImg {
    box-sizing: content-box;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 10px;
    vertical-align: bottom;
    text-align: center;
}


.iconBox{
    width: 20px;
    height: 20px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    color: black;

}
.text{
    color: black;
    height:20px;
    width: 40px;
    padding: 5px 5px 5px 5px;
    margin-left: 10px;
    float: left;
    text-align: center;
    vertical-align: middle;
    color: black;
}

.iconImg {
    width: 20px;
    height: 20px;
}

.menuButton {
    width: 100%;
    height: 100%;
}
input{
    text-align: center;
}


.detailView, .sm_setting {

    background-color: #f2f2f2;
    border: 2px solid #21578a;
    border-collapse: initial;
}
.sm_setting div{
    padding: 8px;
}

.detailImage {
    padding: 10px 5px 5px 5px;
}
#OK{
    margin-left:15px;
}

.tile {
    border-right: 1px dashed #bdbdbd;;
    height: 99%;
    width: 30%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.tileTable{
    width: 100%;
    height: 80%;
    border-collapse:collapse;
}
.tileImg {
    width: 90px;
    height: 90px;
}

.dataImg {
    height: 99%;
    width: 61.5%;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;

}
.dataImg img{
    vertical-align: middle;
    display: inline-block;

    max-width: 85%;
    max-height: 85%;
    border: 1.5px solid #969696;

}


.tileButton {
    text-align: center;
    vertical-align: middle;
    margin: 0 auto;
}

.tB {
    border:1px solid #E6E6E6;
    background-color: #F2F2F2;
    font-weight: bold;
    color: #525252;
    font-size: 13px;
    width: 80%;
    padding-top: 3px;
    padding-bottom: 3px;
}

image.currentRect{
}

.rankNum{
    width: 7%;
    height: 99%;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    border-right: 1px dashed #bdbdbd;
    color: #525252;
    font-weight: bold;
}