html, body{
    width: 100%;
    height: 99.5%;
    margin:0;
    padding:0;
    font-family: 'lato';
    color: black;
    font-size:16px;
    font-weight: normal;
    overflow-y: hidden;
    overflow-x: hidden;
    background-color: #e6e6e6;
    cursor: default;
}

.menu{
    width: 20%;
    height: 98%;
    float: left;
    margin-right: 5px;
    margin-left: 10px;
    margin-top:10px;
}

.panel{
    width: 100%;
    background-color: #e6e6e6;
}

.panel_title{
    font-size: 17px;
    background-color: #e6e6e6;
    color: black;
    font-weight: bold;
    float: left;
    height: 20px;
    vertical-align:center;
    padding-left: 4%;
}

.panel_select{
    font-size: 15px;
    color: #888;
    float: right;
    padding-right: 2%;
    background-color: #e6e6e6;
    height: 20px;
}

.display {
    width: 78%;
    height: 98%;
    float: left;
    margin-left: 0.5%;
    margin-top:10px;
    /*margin: 0px 5px 0px 5px;*/
}
.Filter{
    width: 100%;
    height: 4%;
}

.viewType{
    width: 100%;
    height: 35%;
    /*height: 33%;*/
    background-color: #e6e6e6;
}

.viewType-body{
    border: 1px solid #c5c5c5;
    background-color: #f2f2f2;
}

.numView{
    width: 100%;
    height: 22%;
    background-color: #e6e6e6;
}


.numView-body
{
    border: 1px solid #c5c5c5;
    background-color: #f2f2f2;
}
.display{
    background-color: #f7fbff;
}
.tile{
    width: 100%;
    height: 43%;
    background-color: #e6e6e6;
}
.numBox {
    text-align:center;
    width: 100%;
}
.viewType-head-box{
    width:100%;
}


svg {
    width: 100%;
    height: 100%;
    border: 1px solid #c5c5c5;
    background-color: #f2f2f2;
}
.metric-img {
    width: 60px;
    height: 60px;
    margin: 0;
}

.metric-body p{
    margin: 0;}

.viewButton {
    margin:5px;
    font-size: 14px;
    text-align: center ;
    width: 10%;
    color: #787878;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}
.numViewB{
    margin: 5px;
    text-align: center;

}
.TileButton{
    margin-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #252525;
}
.numViewButton{
    font-size: 12px;
    width: 73px;
    font-weight: normal;
    box-sizing:content-box;
    display:inline-block;
    padding: 2px 10px 2px 10px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: white;
    border: 1px solid #c5c5c5;
    text-align: center;
}

.TileButtons{
    font-size: 12px;
    width: 73px;
    font-weight: normal;
    box-sizing:content-box;
    display:inline-block;
    padding: 5px 10px 5px 10px;
    margin-left: 5px;
    background-color: white;
    border: 1px solid #c5c5c5;
    border-radius: 5px;
    text-align: center;
}
.tile-body{
    overflow-y: scroll;
    overflow-x: hidden;
    background-color: #f2f2f2;
    border: 1px solid #c5c5c5;
    text-align: center;
}
.tile-body::-webkit-scrollbar {
    /*滚动条整体样式*/
    width : 12px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.tile-body::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius   : 10px;
    background-color: #bdbdbd;
}
.tile-body::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #ededed;
    border-radius: 10px;
}


.tileButton{
    width: 94%;
    box-sizing:content-box;
    display:inline-block;
    border-bottom: 1px dashed #252525;

}
.d3-tip{
    background-color: #f7fbff;
    border: 2px solid #21578a;
}
.combine{
    margin: 0 0 0 0;
    height: 200px;
}
.left{
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
}
.right{
    height: 200px;
    float: left;
    margin-left: 10px;
}
.imgDelete {
    width: 20px;
    height: 20px;
    margin: 0;
    border: 0
}

.detail_view {
    display:inline-block;
    width: 500px;
    margin: 1px;
    padding: 1px;
}

.detail_image {
    height: 120px;
    background-size: 100%;
    border: 1px solid #000000;
    /*vertical-align: middle;*/
}

.detail_text {
    font-size: 14px;
    max-width: 350px;
    vertical-align: middle;
    word-wrap : break-word;
    padding-left: 5px;
    padding-bottom: 2px;
    display: inline-block;
}

table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 1px;
}


.detailheadline {
    border-top-width:2px;
    border-left-width:0px;
    border-bottom-width:0px;
    border-right-width:0px;
}
.detailcontent {
    border-top-width:0px;
    border-left-width:0px;
    border-bottom-width:2px;
    border-right-width:2px;
}
.detailImage, .detailheadline, .detailcontent {
    color:#555555;
    padding:5px;
}
.detail{
    background-color:#f2f2f2;
    border-style:solid;
    border-color:rgb(115, 115, 115);
}
a:link{
    color: #035aa6
}

.tileBox{
    /*display: inline;*/
    width: 85px;
    height: 35px;
    /*margin: auto;*/
    float: left;
    font-size: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.tile-img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
}

select{
    /*border: solid 1px grey;*/
    border: 1px solid #bdbdbd;
    border-radius:4px;
    line-height: 40px;
    font-family:'lato' ;
    font-size: 12px;
    color: #252525;
    /*border-radius:3px;*/
    text-align-last:center;
    font-weight: bold;

}
.selectBox{
    width: 100%;
    height: 13%;
    border: 1px solid #c5c5c5;
    background-color: #f2f2f2;
}
.bootstrap-select.form-control:not([class*=col-]){
        width: 90%;
}
.btn{
    padding: 0;
}
.btnGroup{
    background-color: #f2f2f2;
    border: 1px solid #c5c5c5;
    display: inline;
    padding-top: 2px;
    padding-bottom: 2px;
}

.form-control{
    height: 22px;
}
.filter-option pull-left{
    font-size: 14px;
}

.bootstrap-select>.dropdown-toggle{
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 5px;
}


.selectOption{
    width: 100%;
    height: 50%;
    text-align:center;
}

#selectOption1{
    display: inline-block ;
    width: 35%;height:35px;
    font-size: 13px;
    font-weight: bold;
    vertical-align: middle;
    line-height: 35px;
}
#selectOption2{
    display: inline-block;
    width: 60%;
}

table{
    border-spacing: 6px;
    border-collapse: separate;
}
.viewType-head-box1,.numView-head-box1,.tile-head-box1{
    border-spacing: 0px;
    border-collapse: collapse;
}